table {
  width: 100%;
}

td,
th{
  width: 50px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

button {
  color: #3f51b5;
}

.red-text{
  color: #f44336;
}

.blue-text {
  color: #3f51b5;
}
