<div class="container">
  <div class="title">
    <p>Count</p>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Rate</th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'border-bottom-color': element.currency === 'EUR' ? '#3f51b5' : 'rgba(0,0,0,.12);'}">
        {{element.currency}} {{element.value}} </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

