<div class="container" *ngIf="show">
  <div class="title">
    <p>Count</p>
  </div>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <p class="currency">$</p>
      <p>{{amount[0]}}</p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <p class="currency">€</p>
      <p>{{amount[1]}}</p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <p class="currency">₴</p>
      <p>{{amount[2]}}</p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <p class="currency">Br</p>
      <p>{{amount[3]}}</p>
    </mat-list-item>
  </mat-list>
</div>


