<div class="container">
  <div class="title">
    <button mat-icon-button [routerLink]="['/pages/history']">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <p>Note page № {{event.id}}</p>
  </div>
  <mat-divider></mat-divider>
  <div class="center">
    <div class="info" [style]="shadow">
      <p class="type" [style]="color">{{event.type | titlecase}}</p>
      <ul>
        <li>Sum: <b>{{event.amount}} EUR</b></li>
        <li>Category: <b>{{event.category}}</b></li>
        <li>Description: <b>{{event.description}}</b></li>
      </ul>
      <p>{{event.date}}</p>
    </div>
  </div>
</div>
