<div class="content">
  <p>Edit category</p>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Choose category</mat-label>
      <mat-select formControlName="id">
        <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('id')?.errors?.['required']">Field is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="form.get('name')?.errors?.['required']">Field is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter capacity</mat-label>
      <input matInput formControlName="capacity">
      <mat-error *ngIf="form.get('capacity')?.errors?.['required']">Field is required</mat-error>
      <mat-error *ngIf="form.get('capacity')?.errors?.['pattern']">Field is invalid</mat-error>
    </mat-form-field>
  </form>
  <div>
    <button mat-raised-button (click)="editCategory()" [disabled]="form.invalid">Edit</button>
    <button mat-raised-button color="primary" (click)="close()">Close</button>
  </div>
</div>

