<p>Edit category</p>
<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Choose category</mat-label>
    <mat-select formControlName="id">
      <mat-option *ngFor="let category of dataSource" [value]="category.id">{{category.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('id')?.errors?.['required']">Field is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter name</mat-label>
    <input matInput formControlName="name">
    <mat-error *ngIf="form.get('name')?.errors?.['required']">Field is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter capacity</mat-label>
    <input matInput formControlName="capacity">
    <mat-error *ngIf="form.get('capacity')?.errors?.['required']">Field is required</mat-error>
    <mat-error *ngIf="form.get('capacity')?.errors?.['pattern']">This field must contain only numbers</mat-error>
  </mat-form-field>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="editCategory()" [disabled]="form.invalid">Edit</button>
    <button mat-button mat-dialog-close [mat-dialog-close]="false">Close</button>
  </div>
</form>
