.content {
  background: ghostwhite;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 135%;
}

form {
  display: flex;
  flex-flow: column;
  width: 100%;
}

button {
  margin-left: 10px;
}
