<div class="container">
  <div class="user-info">
    <p class="user-name">{{userData.name}}</p>
    <p class="user-email">{{userData.email}}</p>
    <img src="./assets/vaas.jpg" class="avatar" alt="avatar">
  </div>
  <mat-divider></mat-divider>
  <mat-list>
    <mat-list-item class="page">Pages</mat-list-item>
  </mat-list>
  <mat-nav-list>
    <a routerLinkActive="active" [routerLink]="['/pages/bill']" mat-list-item>Billing Page</a>
    <a routerLinkActive="active" [routerLink]="['/pages/history']" mat-list-item >History Page</a>
    <a routerLinkActive="active" [routerLink]="['/pages/record']" mat-list-item >Record Page</a>
  </mat-nav-list>
  <mat-divider></mat-divider>
</div>



