<mat-toolbar color="primary">
  <button mat-icon-button class="icon">
    <mat-icon (click)="show()">menu</mat-icon>
  </button>
  <span>Home accounting</span>
  <span class="spacer"></span>
  <mat-icon class="smallPoint">fiber_manual_record</mat-icon>
  <button mat-icon-button class="icon favorite-icon">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-icon class="smallPoint">fiber_manual_record</mat-icon>
  <button mat-icon-button class="icon">
    <mat-icon>help_outline</mat-icon>
  </button>
  <mat-icon class="smallPoint">fiber_manual_record</mat-icon>
  <button mat-icon-button class="icon">
    <mat-icon>perm_identity</mat-icon>
  </button>
</mat-toolbar>
